

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- https://material.io/resources/icons/?style=baseline -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
{{/* add font awesome */}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{{.Title}}</title>
</head>

<body>
<style>

</style>
<div class="main-container">
<div class="nav-bar">
<form action="./oic-main" method="get" class="getcenter ">
  {{template "nav-bar" .}}
</form>

</div>

<div class="under-nav-div">
  {{template "side-panel" .}}

  {{template "main-content" .}}
</div>


</div>
</body>
<script src="./js/js-time.js"></script>
<script src="./js/timeout-checker.js">


</script>

<script>

   
//console.log("center info : ",JSON.stringify("{{.Center}}") );

</script>

</html>










